**/*.asv
**/*.mat
**/*.gif
**/*.mp4
Week 01/videoA.avi
Week 01/videoA2.avi
Week 01/videoB2.avi
Week 01/videoB2.gif.avi
Results/
Week 02/fall/
Week 04/customVideo.avi
Week 04/estabilize.avi
Week 04/traffic.avi
Videos_last_week/
Database/Week05/
